.yes {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    display: flex;
    border: 1px solid white;
    transition: width 0.3s ease-in-out;
}
.text, .total {
    color: black;
    font-weight: 400;
}
.no  {
    border-radius: 5px;
    border: 1px solid white;
    display: flex;
    transition: width 0.3s ease-in-out;
    padding: 0.5rem 1rem;
}

.back {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}